{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://maeconomy.recheck.io:9443",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/api/UUStatements": {
      "get": {
        "tags": [
          "uu-statements-controller"
        ],
        "operationId": "findBySoftDeleted",
        "parameters": [
          {
            "name": "softDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "uu-statements-controller"
        ],
        "operationId": "findOrCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UUStatementDTO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/UUProperty": {
      "get": {
        "tags": [
          "uu-property-controller"
        ],
        "operationId": "findBySoftDeleted_1",
        "parameters": [
          {
            "name": "softDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "uu-property-controller"
        ],
        "operationId": "softDeleteAndCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UUPropertyDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/UUPropertyValue": {
      "get": {
        "tags": [
          "uu-property-value-controller"
        ],
        "operationId": "findBySoftDeleted_2",
        "parameters": [
          {
            "name": "softDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "uu-property-value-controller"
        ],
        "operationId": "softDeleteAndCreate_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UUPropertyValueDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/UUObject": {
      "get": {
        "tags": [
          "uu-object-controller"
        ],
        "operationId": "findBySoftDeleted_3",
        "parameters": [
          {
            "name": "softDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "uu-object-controller"
        ],
        "operationId": "softDeleteAndCreate_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UUObjectDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/UUFile": {
      "get": {
        "tags": [
          "uu-files-controller"
        ],
        "operationId": "findBySoftDeleted_4",
        "parameters": [
          {
            "name": "softDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "uu-files-controller"
        ],
        "operationId": "softDeleteAndCreate_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UUFileDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/UUStatements/{uuid}/{predicate}": {
      "get": {
        "tags": [
          "uu-statements-controller"
        ],
        "operationId": "readStatementsByUUIDAndPredicate",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
          },
          {
            "name": "predicate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "IS_PARENT_OF",
                "IS_CHILD_OF",
                "IS_INPUT_OF",
                "IS_OUTPUT_OF",
                "IS_MODEL_OF",
                "IS_INSTANCE_MODEL_OF",
                "IS_PROPERTY_OF",
                "HAS_PROPERTY",
                "IS_VALUE_OF",
                "HAS_VALUE",
                "IS_FILE_OF",
                "HAS_FILE"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/UUStatements/{predicate}": {
      "get": {
        "tags": [
          "uu-statements-controller"
        ],
        "operationId": "readStatementsByPredicate",
        "parameters": [
          {
            "name": "predicate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "IS_PARENT_OF",
                "IS_CHILD_OF",
                "IS_INPUT_OF",
                "IS_OUTPUT_OF",
                "IS_MODEL_OF",
                "IS_INSTANCE_MODEL_OF",
                "IS_PROPERTY_OF",
                "HAS_PROPERTY",
                "IS_VALUE_OF",
                "HAS_VALUE",
                "IS_FILE_OF",
                "HAS_FILE"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/UUStatements/own": {
      "get": {
        "tags": [
          "uu-statements-controller"
        ],
        "operationId": "findBySoftDeletedOwn",
        "parameters": [
          {
            "name": "softDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/UUPropertyValue/{uuid}": {
      "get": {
        "tags": [
          "uu-property-value-controller"
        ],
        "operationId": "findByUUIDAndSoftDeleted",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
          },
          {
            "name": "softDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "uu-property-value-controller"
        ],
        "operationId": "softDelete",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/UUPropertyValue/own": {
      "get": {
        "tags": [
          "uu-property-value-controller"
        ],
        "operationId": "findBySoftDeletedOwn_1",
        "parameters": [
          {
            "name": "softDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/UUProperty/{uuid}": {
      "get": {
        "tags": [
          "uu-property-controller"
        ],
        "operationId": "findByUUIDAndSoftDeleted_1",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
          },
          {
            "name": "softDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "uu-property-controller"
        ],
        "operationId": "softDelete_1",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/UUProperty/own": {
      "get": {
        "tags": [
          "uu-property-controller"
        ],
        "operationId": "findBySoftDeletedOwn_2",
        "parameters": [
          {
            "name": "softDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/UUObject/{uuid}": {
      "get": {
        "tags": [
          "uu-object-controller"
        ],
        "operationId": "findByUUIDAndSoftDeleted_2",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
          },
          {
            "name": "softDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "uu-object-controller"
        ],
        "operationId": "softDelete_2",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/UUObject/own": {
      "get": {
        "tags": [
          "uu-object-controller"
        ],
        "operationId": "findBySoftDeletedOwn_3",
        "parameters": [
          {
            "name": "softDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/UUFile/{uuid}": {
      "get": {
        "tags": [
          "uu-files-controller"
        ],
        "operationId": "findByUUIDAndSoftDeleted_3",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
          },
          {
            "name": "softDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "uu-files-controller"
        ],
        "operationId": "softDelete_3",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/UUFile/own": {
      "get": {
        "tags": [
          "uu-files-controller"
        ],
        "operationId": "findBySoftDeletedOwn_4",
        "parameters": [
          {
            "name": "softDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/UUStatements/{subject}/{predicate}/{object}": {
      "delete": {
        "tags": [
          "uu-statements-controller"
        ],
        "operationId": "softDelete_4",
        "parameters": [
          {
            "name": "subject",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
          },
          {
            "name": "predicate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "IS_PARENT_OF",
                "IS_CHILD_OF",
                "IS_INPUT_OF",
                "IS_OUTPUT_OF",
                "IS_MODEL_OF",
                "IS_INSTANCE_MODEL_OF",
                "IS_PROPERTY_OF",
                "HAS_PROPERTY",
                "IS_VALUE_OF",
                "HAS_VALUE",
                "IS_FILE_OF",
                "HAS_FILE"
              ]
            }
          },
          {
            "name": "object",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UUStatementDTO": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string",
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          },
          "predicate": {
            "type": "string",
            "enum": [
              "IS_PARENT_OF",
              "IS_CHILD_OF",
              "IS_INPUT_OF",
              "IS_OUTPUT_OF",
              "IS_MODEL_OF",
              "IS_INSTANCE_MODEL_OF",
              "IS_PROPERTY_OF",
              "HAS_PROPERTY",
              "IS_VALUE_OF",
              "HAS_VALUE",
              "IS_FILE_OF",
              "HAS_FILE"
            ]
          },
          "object": {
            "type": "string",
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          }
        },
        "required": [
          "object",
          "predicate",
          "subject"
        ]
      },
      "UUPropertyDTO": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          },
          "key": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "inputType": {
            "type": "string"
          },
          "formula": {
            "type": "string"
          },
          "inputOrderPosition": {
            "type": "integer",
            "format": "int32"
          },
          "processingOrderPosition": {
            "type": "integer",
            "format": "int32"
          },
          "viewOrderPosition": {
            "type": "integer",
            "format": "int32"
          }
        },
        "required": [
          "key",
          "uuid"
        ]
      },
      "UUPropertyValueDTO": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          },
          "value": {
            "type": "string"
          },
          "valueTypeCast": {
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          }
        },
        "required": [
          "uuid"
        ]
      },
      "UUObjectDTO": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          },
          "name": {
            "type": "string"
          },
          "abbreviation": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "uuid"
        ]
      },
      "UUFileDTO": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          },
          "fileName": {
            "type": "string"
          },
          "fileReference": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        },
        "required": [
          "fileName",
          "fileReference",
          "uuid"
        ]
      }
    }
  }
}